.aboutH{
    padding: 4rem 6rem 8rem;
   
}
.aboutH-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
}
.aboutH-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 0rem; 
}
.aboutH-content h1{
    font-size: 23px;
    margin: 0;
}
.about-us-title{
    content: "";
    width: 70px;
    height: 3px;
    background-color: #246a47;
    margin: 0.8rem 0;
}
.aboutH-content p{
    font-size: 16px;
    line-height: 27px;
    max-width: 650px;
    font-weight: lighter;
}
.aboutH-content span{
    font-size: 16px;
    background-color: #246a47;
    padding: 0.8rem 2rem;
    color: white;
    border-radius: 4px;
}
.aboutH-content span:hover{
    background-color: white;
   border: 1px solid #246a47;
    color: #246a47;
    border-radius: 8px;
    transition: all 0.5s;
}
.aboutH-button{
    text-decoration: none;
    margin-top: 3rem;
}
.aboutH-image{
    display: flex;
    flex: 1;
    padding-left: 4rem;
    position: relative;
}
.aboutH-image::before{
    content: '';
    border: 5px solid #246a47;
    position: absolute;
    width: 80%;
    right: 0rem;
    top: 3rem;
    height: 350px ;
    z-index: 0;
}
.aboutH-image img{
    width: 90%;
    height: 350px;
    object-fit: cover;
    z-index: 100;
}

/* @media (max-width: 1500px) {

    .aboutH-content{
        padding-left: 0rem; 
    }
    .aboutH-image{
        padding-left: 4rem;
    }
    .aboutH-image::before{
        content: '';
        border: 5px solid #246a47;
        position: absolute;
        width: 35%;
        right: 10rem;
        top: 8rem;
        height: 350px ;
        z-index: 0;
    }
} */
@media (max-width: 1200px) {
    .aboutH{
        padding: 4rem 4rem 6rem;
    }
    .aboutH-content{
        padding-left: 0rem; 
    }
    .aboutH-image{
        padding-left: 2rem;
    }
    .aboutH-image::before{
        content: '';
        border: 5px solid #246a47;
        position: absolute;
        width: 83%;
        right: 0rem;
        top: 2rem;
        height: 350px ;
        z-index: 0;
    }
}
@media (max-width: 800px) {
    .aboutH{
        padding: 4rem 4rem;
    }
    .aboutH-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }
    .aboutH-content{
        padding-left: 0rem; 
    }
    .aboutH-image{
        padding-left: 0;
        margin: 4rem 0 0;
        width: 100%;
    }
    .aboutH-image img{
        width: 100%;
    }
    .aboutH-image::before{
        display: none;
    }
   
    .aboutH-content p{
        font-size: 16px;
        line-height: 32px;
        max-width: 100%;
        margin-top: 0;
    }
    .aboutH-button{
        text-decoration: none;
        margin-top: 2rem;
    }
    .aboutH-content span{
        font-size: 16px;
        background-color: #246a47;
        padding: 1rem 2rem;
        color: white;
        border-radius: 8px;
    }
}
@media (max-width: 500px) {
    .aboutH-image{
        padding-left: 0;
        margin: 3rem 0 0;
        width: 100%;
        height: 200px;
        z-index: 0;
    }
    .aboutH-image img{
        height: 100%;
        z-index: 0;
    }
    .about-us-title{
        content: "";
        width: 50px;
        height: 3px;
        background-color: #246a47;
        margin: 1rem 0;
    }
    .aboutH{
        padding: 2rem 2rem 4rem;
    }
    .aboutH-content p{
        font-size: 12px;
        line-height: 22px;
        max-width: 650px;
    }
    .aboutH-button{
        text-decoration: none;
        margin-top: 1rem;
    }
    .aboutH-content span{
        font-size: 12px;
        background-color: #246a47;
        padding: 0.7rem 1.7rem;
        color: white;
        border-radius: 8px;
    }
}
